# ***Python Data Types***

#### ***Integers<br />Float<br/>Complex<br/>Strings<br/>List<br/>Tuple<br/>Set<br/>Dictionary***

In [27]:
#integer 
a=43
b=425
print(a+b)
print(a*b)
print(a%b)
print(b//a)

468
18275
43
9

In [8]:
#float
a=43.23
b=425.2345
print(type(a))
print(a+b)
print(a*b)
print(a%b)
print(b//a)

468.46450000000004
18382.887435
43.23
9.0

In [17]:
#complex numbera
d=complex(123,24)
print(type(d))
print(d)
print(complex(23,2))

<class 'complex'>
(123+24j)
(23+2j)

In [13]:
#string
s=input("Enter your name: ")
print("my name is ", s)

Enter your name:  gunjan

my name is  gunjan

In [20]:
#list
s=['gunjan','uem', 'jaipur']
print(s)
d=[]
print("enter element in the list: ")
for i in range(10):
    d.append(input("element: "))
print(d)

['gunjan', 'uem', 'jaipur']
enter element in the list:

element:  eq
element:  sd
element:  fsd
element:  f
element:  sd
element:  sd
element:  g
element:  fg
element:  fdg
element:

['eq', 'sd', 'fsd', 'f', 'sd', 'sd', 'g', 'fg', 'fdg', '']

In [4]:
#The Identity Operator
a=['school','college','game']
b=['cricket','footbal','baseball']
print(a is b)
print(b==a)

False
False

In [5]:
#The Membership Operator
b=['cricket','footbal','baseball']
print("bowling" in b)

False

In [2]:
#Object References
x = "blue"
y = "green"
z = x
print(x, y, z) 
z = y
print(x, y, z) 
x = z
print(x, y, z)

blue green blue
blue green green
green green green